:root {
    --bg-font: #5D5D5D;
    --dark: #000000;
    --lemon-olive: #D2FD9C;
    --olive: #77912A;
    --bg-olive: #394508;
    --text-light: #FFFFFF;
    --accent-color: #D2FD9C;
    --card-bg: #619111;
    --radius: 10px;
    --white: #FFFFFF;
}