.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
    transition: all .10s ease;

}

.header__logo:hover,
.header__logo:focus {
    transform: scale(1.05);
}


.header__logo:active {
    transform: scale(1);
}