@import url("../style.css");
@import url("../global/root.css");

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 1rem;
    color: #FFFFFF;
}