@import url("../style.css");
@import url("../global/root.css");


.hero-nav {
    display: flex;
    flex-direction: row;
    gap: 12.8px;
    font-weight: 500;
    line-height: 14px;
    font-size: .85rem;
}

.hero-nav__link {
    color: var(--accent-color);
}